In [7]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("BigDataPractice").getOrCreate()

data = [("Ali", "31", "Free", "Mancing", "laki laki"),
       ("Bento", "34", "Bandar", "Ngelas", "Laki laki"),
       ("Supijah", "19", "Admin Slot", "Makan", "Perempuan")]
columns = ["Nama", "Usia","Pekerjaan", "Hobi", "Gender"]
df = spark.createDataFrame(data, columns)
df.show()

+-------+----+----------+-------+---------+
|   Nama|Usia| Pekerjaan|   Hobi|   Gender|
+-------+----+----------+-------+---------+
|    Ali|  31|      Free|Mancing|laki laki|
|  Bento|  34|    Bandar| Ngelas|Laki laki|
|Supijah|  19|Admin Slot|  Makan|Perempuan|
+-------+----+----------+-------+---------+

In [8]:
df_filtered = df.filter(df['Usia'] > 30)
df_filtered.show()

+-----+----+---------+-------+---------+
| Nama|Usia|Pekerjaan|   Hobi|   Gender|
+-----+----+---------+-------+---------+
|  Ali|  31|     Free|Mancing|laki laki|
|Bento|  34|   Bandar| Ngelas|Laki laki|
+-----+----+---------+-------+---------+

In [9]:
from pyspark.sql.functions import avg
df.groupBy().agg(avg("Usia")).show()

+---------+
|avg(Usia)|
+---------+
|     28.0|
+---------+

In [10]:
df_sorted = df.orderBy("Usia", ascending=False)
df_sorted.show()

+-------+----+----------+-------+---------+
|   Nama|Usia| Pekerjaan|   Hobi|   Gender|
+-------+----+----------+-------+---------+
|  Bento|  34|    Bandar| Ngelas|Laki laki|
|    Ali|  31|      Free|Mancing|laki laki|
|Supijah|  19|Admin Slot|  Makan|Perempuan|
+-------+----+----------+-------+---------+

In [23]:
import pandas as pd

data_pandas = {"Nama": ["ALi", "Bento", "Supijah"], "Usia": [31, 34, 19]}
df_pandas = pd.DataFrame(data_pandas)
df_pandas

      Nama  Usia
0      ALi    31
1    Bento    34
2  Supijah    19

In [25]:
print(df_pandas.describe())

            Usia
count   3.000000
mean   28.000000
std     7.937254
min    19.000000
25%    25.000000
50%    31.000000
75%    32.500000
max    34.000000

In [27]:
data_pandas_2 = {"Nama": ["ALi", "Bento", "Supijah"], "Usia": [31, 34, 19], "Pekerjaan":["Bandar", "Free", "Admin Slot"]}
df_pandas_2 = pd.DataFrame(data_pandas_2)
df_pandas_2

      Nama  Usia   Pekerjaan
0      ALi    31      Bandar
1    Bento    34        Free
2  Supijah    19  Admin Slot

In [29]:
df_joined = pd.merge(df_pandas, df_pandas_2, on="Nama")
print(df_joined)

      Nama  Usia_x  Usia_y   Pekerjaan
0      ALi      31      31      Bandar
1    Bento      34      34        Free
2  Supijah      19      19  Admin Slot

In [45]:
filtered_df = df_joined("Usia > 30")

TypeError: 'DataFrame' object is not callable

In [44]:
import matplotlib.pyplot as plt
df_pandas['Usia'].plot(kind='bar')
plt.show()

ModuleNotFoundError: No module named 'matplotlib'